.feedback {
    padding-bottom: 71px;;
    &__block {
        display: flex;
        margin-top: 100px;
        &:nth-child(2) {
            margin-top: 70px;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__wrapper {
        margin-left: 62px;
        margin-right: 60px;
    }
    &__username {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subtitle {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-top: 11px;
    }
    &__text {
        margin-top: 19px;
        min-width: 650px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
}